concurrent = 10 # max_instances * capacity_per_instance

[[runners]]
  name = "cloudscale-docker-autoscaler"
  url = "$GITLAB_URL"
  token = "$RUNNER_TOKEN"
  executor = "docker-autoscaler"

[runners.docker]
  image = "alpine:latest"

[runners.autoscaler]
  plugin = "fleeting-plugin-cloudscale"
  delete_instances_on_shutdown = true
  update_interval = "1m"
  update_interval_when_expecting = "5s"
  instance_ready_command = "cloud-init status --wait || test $? -eq 2"
  capacity_per_instance = 1
  max_instances = 10
  max_use_count = 0

[runners.autoscaler.connector_config]
  use_external_addr = true
  username = "ubuntu"

[runners.autoscaler.plugin_config]
  name = "fleeting"
  auth_token = "$CLOUDSCALE_TOKEN"
  api_token = "$CLOUDSCALE_API_TOKEN"
  use_static_credentials = false
  zone = "lpg1"
  flavor = "flex-4-1"
  image = "ubuntu-24.04"
  user_data = """#cloud-config
  password: ubuntu
  chpasswd: { expire: False }
  # package_update: true
  # package_upgrade: true
  
  apt:
    sources:
      docker.list:
        source: deb https://download.docker.com/linux/ubuntu $RELEASE stable
        keyid: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
  
  packages:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-buildx-plugin

  system_info:
    default_user:
      groups: [docker]
  """
  volume_size_gb = 10


[[runners.autoscaler.policy]]
  periods = ["* * * * *"]
  timezone = "Europe/Berlin"
  idle_count = 0
  idle_time = "1m"
